# Data Input and Output

# Data Input and Output

 - CSV
 - Excel

 - HTML
 - SQL

In [2]:
import numpy as np
import pandas as pd

In [3]:
# lets import a csv file
# as of now, I'm working on Jetbrain's DataLore, so I uploaded the file here
pd.read_csv('example.csv')

,a,b,c,d
0,0,1,2,3
1,4,5,6,7
2,8,9,10,11
3,12,13,14,15

In [4]:
# let's make a dataframe to further work on it
df = pd.read_csv('example.csv')
df

,a,b,c,d
0,0,1,2,3
1,4,5,6,7
2,8,9,10,11
3,12,13,14,15

In [5]:
# let's make a copy of this csv here
df.to_csv("our_output",index=False)
# the reason we set the index as False is to prevent the index from becoming a column
# now let's see what will happen if we don't set the index as False
df.to_csv("our_output")

# Now let's read the file

pd.read_csv("our_output")

# see how the index became a column under 'Unnamed 0' heading

,Unnamed: 0,a,b,c,d
0,0,0,1,2,3
1,1,4,5,6,7
2,2,8,9,10,11
3,3,12,13,14,15

In [6]:
# let's do it once more with the index = False statement
df.to_csv("our_output",index=False)
pd.read_csv("our_output")

,a,b,c,d
0,0,1,2,3
1,4,5,6,7
2,8,9,10,11
3,12,13,14,15

In [7]:
pd.read_excel('Excel_Sample.xlsx', sheet_name='Sheet1')

,Unnamed: 0,a,b,c,d
0,0,0,1,2,3
1,1,4,5,6,7
2,2,8,9,10,11
3,3,12,13,14,15

In [8]:
df

,a,b,c,d
0,0,1,2,3
1,4,5,6,7
2,8,9,10,11
3,12,13,14,15

In [9]:
df.to_excel('Excal_Sample2.xlsx', sheet_name= 'NewSheet',index=False)
pd.read_excel('Excal_Sample2.xlsx')

,a,b,c,d
0,0,1,2,3
1,4,5,6,7
2,8,9,10,11
3,12,13,14,15

## Extracting values from HTML
### Now we're gonna extract some values from FDIC website of failed bank list, link mentioned below 
# [*HTML link*](https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/)

In [10]:


data = pd.read_html('https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/')
data[0].head()

,Bank NameBank,CityCity,StateSt,CertCert,Acquiring InstitutionAI,Closing DateClosing,FundFund
0,Almena State Bank,Almena,KS,15426,Equity Bank,"October 23, 2020",10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb","October 16, 2020",10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.","April 3, 2020",10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,"February 14, 2020",10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,"November 1, 2019",10534

## Let's work with SQL

In [11]:
# first we need to create a sql engine
from sqlalchemy import create_engine

In [12]:
# this will allow us to create a very simple temporary sql engine running in memory
# give it a name
engine = create_engine('sqlite:///:memory:')

In [13]:
df

,a,b,c,d
0,0,1,2,3
1,4,5,6,7
2,8,9,10,11
3,12,13,14,15

In [16]:
# make a sql table out of this dataframe
# select the engine
df.to_sql('my_table', engine)

## Remeber !!
**Pandas isn't the best library to read SQL tables, there are many other specialized python libraries to read different type of SQL tables**

In [18]:
# now let's read the table
pd.read_sql('my_table',con=engine) # remember to connection with the engine

,index,a,b,c,d
0,0,0,1,2,3
1,1,4,5,6,7
2,2,8,9,10,11
3,3,12,13,14,15

# Good Job !