# Pandas - Operations

# Pandas - Operations

In [6]:
import numpy as np
import pandas as pd

In [9]:
df = pd.DataFrame({'col1':[1,2,3,4],
                   'col2':[444,555,666,444],
                   'col3':['abc','def','ghi','xyz']})

df.head()

,col1,col2,col3
0,1,444,abc
1,2,555,def
2,3,666,ghi
3,4,444,xyz

In [10]:
# return an array of unique values in col2

df["col2"].unique()

In [11]:
# return how many unique values in col2
df["col2"].nunique()

3

In [16]:
# return unique values and how many times they show us
df["col2"].value_counts()

In [25]:
# let's talk about conditional selection
df[(df["col2"]> 444) & (df["col1"] == 2)]

,col1,col2,col3
1,2,555,def

In [28]:
# as we know we can apply built-in functions on series taken from a dataframe,
# we can actualy do the same with custom functions aswell, let's try

def times2(x):
    return x*2

# now let's apply this custom function on the 'col1' series from the dataframe

df["col1"].apply(times2)

In [31]:
# in the same way, we can use built-in functions aswell

df["col3"].apply(len)

In [33]:
# another example 
df["col2"].apply(lambda x: x*2)

In [36]:
# remember we can use 'drop' function to remove a particular series from a dataframe 

df.drop("col1", axis=1)

# or 

df.drop(2) # on the row means axis 0
# altough we've to use 'inplace=True' to remove the any series permanently from a dataframe

,col1,col2,col3
0,1,444,abc
1,2,555,def
3,4,444,xyz

In [37]:
# we can call the columns name or rows name(which is basically the indecies)

df.columns

Index(['col1', 'col2', 'col3'], dtype='object')

In [38]:
#or 

df.index

# as it's only a range from 0 to 4, so it's mentioned that way :)

RangeIndex(start=0, stop=4, step=1)

In [39]:
# we can sort the dataframe by values, let's try sorting the dataframe by sorting the values from 'col2'

df.sort_values("col2")

# see how indices dosn't change

,col1,col2,col3
0,1,444,abc
3,4,444,xyz
1,2,555,def
2,3,666,ghi

In [41]:
# check if theres any null value 
df.isnull()

,col1,col2,col3
0,False,False,False
1,False,False,False
2,False,False,False
3,False,False,False

In [43]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
        'B':['one','one','two','two','one','one'],
        'C':['x','y','x','y','x','y'],
        'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)
df

,A,B,C,D
0,foo,one,x,1
1,foo,one,y,3
2,foo,two,x,2
3,bar,two,y,5
4,bar,one,x,4
5,bar,one,y,1

In [44]:
# let's try pivot table on this dataframe 
# pivot table is actually considered as an advance level Excel funtion

df.pivot_table(values='D', index= ['A', 'B'], columns='C')

# see how the indices are created from 'A' and 'B', the actual columns 'X' and 'Y' are from 'C' 
# and the actual datapoint values are from 'D' column.

# ofcourse we do have some null values because there are no values at that specific point,
# like if you see hte main dataframe, there are no values for (bar > two > x) or (foo > two > y)

# Good Job !