# Pandas Series

# Pandas Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
lebels = ["a", "b", "c"]
my_list = [10,20,30]
arr = np.array(my_list)
d = {'a' : 10, 'b' : 20, 'c': 30}
arr

In [3]:
seires = pd.Series(data=my_list,index=lebels)
seires

In [4]:
# Pandas Series works both with Python List and numpy arrays :)
seires = pd.Series(arr,lebels)

In [5]:
# You even can use dictionary to create a Pandas Series
pd.Series(d)

In [6]:
type(d)

dict

In [7]:
ser1 = pd.Series([1,2,3,4], ['USA', 'Germany', 'USSR', 'Japan'])
ser1

In [8]:
ser2 = pd.Series([1,2,5,4], ['USA', 'Germany', 'Italy', 'Japan'])
ser2

In [9]:
#same like python list, you can get a elemnet from a list by calling the index
ser2['Italy']
#here the index is a str value

5

In [10]:
#You can addition 2 series, it will give the output of addition accoeding to the indices , if indices ain't same, it'll then return nan , nan = null/None
ser1 + ser2
#performing any operation on any numpy or pandas based object , integer values convert to float to avoid loosing data, just like mentioned below

# DataFrames pt. 1

# Pandas - DataFrames Part 1

In [11]:
import numpy as np
import pandas as pd

In [12]:
from numpy.random import randn

In [13]:
np.random.seed(101)

In [14]:
#creating a dataframe
df = pd.DataFrame(randn(5,4),["A", "B", "C", "D", "E"],["W", "X", "Y", "Z"])
df

,W,X,Y,Z
A,2.706850,0.628133,0.907969,0.503826
B,0.651118,-0.319318,-0.848077,0.605965
C,-2.018168,0.740122,0.528813,-0.589001
D,0.188695,-0.758872,-0.933237,0.955057
E,0.190794,1.978757,2.605967,0.683509

In [15]:
#every column on the dataframe I created above is a pandas-series afterall 

df['W']

In [16]:
type(df['W'])

pandas.core.series.Series

In [17]:
type(df)

pandas.core.frame.DataFrame

In [18]:
#You can create a new column just by mentioning it , eg. below
df["New"] = df["X"] + df["Z"]
df

,W,X,Y,Z,New
A,2.706850,0.628133,0.907969,0.503826,1.131958
B,0.651118,-0.319318,-0.848077,0.605965,0.286647
C,-2.018168,0.740122,0.528813,-0.589001,0.151122
D,0.188695,-0.758872,-0.933237,0.955057,0.196184
E,0.190794,1.978757,2.605967,0.683509,2.662266

In [19]:
#to remove a column, the .drop method is being used, to be noted you've to select the axis for it, axis 0 is for rows and axis 1 is for columns

df.drop("New",axis=1)

,W,X,Y,Z
A,2.706850,0.628133,0.907969,0.503826
B,0.651118,-0.319318,-0.848077,0.605965
C,-2.018168,0.740122,0.528813,-0.589001
D,0.188695,-0.758872,-0.933237,0.955057
E,0.190794,1.978757,2.605967,0.683509

In [20]:
#althouh , .drop function isn't in place , that means it will not change the source file 
df

,W,X,Y,Z,New
A,2.706850,0.628133,0.907969,0.503826,1.131958
B,0.651118,-0.319318,-0.848077,0.605965,0.286647
C,-2.018168,0.740122,0.528813,-0.589001,0.151122
D,0.188695,-0.758872,-0.933237,0.955057,0.196184
E,0.190794,1.978757,2.605967,0.683509,2.662266

In [21]:
#to modify the source file, you've to set the implace = True
df.drop("New", axis= 1, inplace = True)
df

,W,X,Y,Z
A,2.706850,0.628133,0.907969,0.503826
B,0.651118,-0.319318,-0.848077,0.605965
C,-2.018168,0.740122,0.528813,-0.589001
D,0.188695,-0.758872,-0.933237,0.955057
E,0.190794,1.978757,2.605967,0.683509

In [22]:
#to grab a series from a dataframe by their rows 
df.loc['C']

In [23]:
#to grab a series from a dataframe by their rows by using number
df.iloc[2]

In [24]:
#to grab a perticular value ,mention both row and column
df.loc["A", "Z"]

0.5038257538223936

In [25]:
#to get a whole lot of rows and columns
df.loc[["A", "C"],["Y", "Z"]]

,Y,Z
A,0.907969,0.503826
C,0.528813,-0.589001

# DataFrames pt. 2

# Pandas - DataFrames Part 2

In [26]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [27]:
np.random.seed(101)

In [28]:
df = pd.DataFrame(randn(5,4),["A", "B", "C", "D", "E"],["W", "X", "Y", "Z"])
df

,W,X,Y,Z
A,2.706850,0.628133,0.907969,0.503826
B,0.651118,-0.319318,-0.848077,0.605965
C,-2.018168,0.740122,0.528813,-0.589001
D,0.188695,-0.758872,-0.933237,0.955057
E,0.190794,1.978757,2.605967,0.683509

In [29]:
# boolean condition
df > 0

,W,X,Y,Z
A,True,True,True,True
B,True,False,False,True
C,False,True,True,False
D,True,False,False,True
E,True,True,True,True

In [30]:
# same as numpy comparing with the original dataframe by creating a new modified dataframe and comparing it to the new one
booldf = df > 0
booldf

,W,X,Y,Z
A,True,True,True,True
B,True,False,False,True
C,False,True,True,False
D,True,False,False,True
E,True,True,True,True

In [31]:
# comparing with the source
df[booldf]

,W,X,Y,Z
A,2.706850,0.628133,0.907969,0.503826
B,0.651118,NaN,NaN,0.605965
C,NaN,0.740122,0.528813,NaN
D,0.188695,NaN,NaN,0.955057
E,0.190794,1.978757,2.605967,0.683509

In [32]:
# doing it on a column series
df['W'] > 0

In [33]:
# getting a row when the condition meeets without 'nan'
df[df['W'] > 0]
# here on 'W' column, everthing > 0 returned (wihtout the 'nan') along with whole dataframe

,W,X,Y,Z
A,2.706850,0.628133,0.907969,0.503826
B,0.651118,-0.319318,-0.848077,0.605965
D,0.188695,-0.758872,-0.933237,0.955057
E,0.190794,1.978757,2.605967,0.683509

In [34]:
df

,W,X,Y,Z
A,2.706850,0.628133,0.907969,0.503826
B,0.651118,-0.319318,-0.848077,0.605965
C,-2.018168,0.740122,0.528813,-0.589001
D,0.188695,-0.758872,-0.933237,0.955057
E,0.190794,1.978757,2.605967,0.683509

In [35]:
# another example 
# here we're going for value < 0
df[df['Z'] < 0]
# see how only 1 row returned , because there are only one row on 'Z' column where value is < 0

,W,X,Y,Z
C,-2.018168,0.740122,0.528813,-0.589001

In [36]:
# if you want to get a different row 
df[df['W'] > 0]['X']
# here we're grabbing row 'X' when every value in row 'W' is > 0

In [37]:
# another example to get multiple different rows 
df[df['W'] > 0][['X', 'Z']]

,X,Z
A,0.628133,0.503826
B,-0.319318,0.605965
D,-0.758872,0.955057
E,1.978757,0.683509

In [38]:
#instead of doing it all in one line mentioned in the above cell,we can do it step by step to eliminate complexity 
boolser = df['W'] > 0
result = df[boolser]
mycols = ['X', 'Y']
result[mycols]
# this is ok for beginner but doing it all in 1 line is more convinient and a good practice

,X,Y
A,0.628133,0.907969
B,-0.319318,-0.848077
D,-0.758872,-0.933237
E,1.978757,2.605967

In [39]:
df

,W,X,Y,Z
A,2.706850,0.628133,0.907969,0.503826
B,0.651118,-0.319318,-0.848077,0.605965
C,-2.018168,0.740122,0.528813,-0.589001
D,0.188695,-0.758872,-0.933237,0.955057
E,0.190794,1.978757,2.605967,0.683509

In [40]:
"""here we're passing 2 conditions , look how we're using '&' instead of 'and',
because when we're passsing two series of boolean , the 'and' operator gets confused,
that's why we're using '&' instead of regualr python 'and' """

df[(df['W'] < 1) & (df['Y'] > 1)]

,W,X,Y,Z
E,0.190794,1.978757,2.605967,0.683509

In [41]:
# if you want to go for 'or' instead of 'and,/'&' , in pandas it's '|' called pipe operator

df[(df['W'] > 3) | (df['Y'] > 1)]

,W,X,Y,Z
E,0.190794,1.978757,2.605967,0.683509

# To reset index in a dataframe 
### One thing to remember, just like many other dataframe operations reset_index() isn't inplace,
### if you do it inplace,the old index will become a column.

In [42]:

df.reset_index()
# To do it inplace (don't do it here otherwise it's going to change the source dataframe)

# df.reset_index(inplace= True)

,index,W,X,Y,Z
0,A,2.706850,0.628133,0.907969,0.503826
1,B,0.651118,-0.319318,-0.848077,0.605965
2,C,-2.018168,0.740122,0.528813,-0.589001
3,D,0.188695,-0.758872,-0.933237,0.955057
4,E,0.190794,1.978757,2.605967,0.683509

In [43]:
# let's add a new column to it
strg = "WB BR MH DL OD"

# remember , you can split convert a string into a list just by adding spaces between values,
#just like we did in the last line, now make a list out of it

newclm = strg.split()
newclm

['WB', 'BR', 'MH', 'DL', 'OD']

In [44]:
# now make it a column of source dataframe 

df["States"] = newclm

#remeber it's a inplace operation
df

,W,X,Y,Z,States
A,2.706850,0.628133,0.907969,0.503826,WB
B,0.651118,-0.319318,-0.848077,0.605965,BR
C,-2.018168,0.740122,0.528813,-0.589001,MH
D,0.188695,-0.758872,-0.933237,0.955057,DL
E,0.190794,1.978757,2.605967,0.683509,OD

In [45]:
# let's make this column the index of the dataframe, *it's not inplace*
# it'll overwrite the old index

df.set_index("States")

,W,X,Y,Z
States,,,,
WB,2.706850,0.628133,0.907969,0.503826
BR,0.651118,-0.319318,-0.848077,0.605965
MH,-2.018168,0.740122,0.528813,-0.589001
DL,0.188695,-0.758872,-0.933237,0.955057
OD,0.190794,1.978757,2.605967,0.683509

# DataFrames pt.  3

# Pandas - DataFrames Part 3

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
# a list of tuple pairs
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [4]:
pd.MultiIndex.from_tuples(hier_index)

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [5]:
# now let's make a multi index DataFrame with 6 rows and 2 columns, index taken from upper cell 'hier_index'

df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df
# see how 'G1' and 'G2' are the main indecies, on the sub/inside level there are '1, 2, 3' indicies

In [7]:
# let's see how we can call data from a multi level index
df.loc["G1"]

,A,B
1,1.705238,2.690003
2,0.252180,-1.125684
3,-0.135920,-0.227675

In [8]:
# to call a inner level index
df.loc["G2"].loc[2]

In [9]:
# as we can see, our dataframe doesn't have any index name 
df.index.names

FrozenList([None, None])

In [10]:
# let's give the indices names 
df.index.names = ['Groups', 'Num']
df

In [11]:
# now let's call a specific data from the dataframe
df.loc['G2'].loc[3]['B']

-0.5921430014108348

In [12]:
# now if I want to grab value form sub index 1 from both the main index 'G1' and 'G2', using '.loc' is bit trickier , 
# so we're going to use '.xs' the cross-section
# suppose we're getting the data from, sub index 2 from both the main index 'G1' and 'G2'

df.xs(2,level='Num')

,A,B
Groups,,
G1,0.252180,-1.125684
G2,-2.000759,-0.366695

  ##          End of the DataFrame Tutorial