# Pandas : Missing Data

# Pandas - Missing Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
d = {'A':[1, 2, np.nan], 'B':[5, np.nan, np.nan], 'C':[1, 2, 3]}

In [3]:
df = pd.DataFrame(d)
df

,A,B,C
0,1.0,5.0,1
1,2.0,NaN,2
2,NaN,NaN,3

In [4]:
# the pandas operator '.dropna' is used to drop any row which have 'NaN' (missing/null) value, 
# by default it's axis=0 so it only works on rows, but if you mention axis=1 , it will work on the columns

# on rows
df.dropna()

,A,B,C
0,1.0,5.0,1

In [5]:

# on columns
df.dropna(axis=1)

,C
0,1
1,2
2,3

In [6]:
# while using 'dropna', you can set a threshold, 
# like if you don't want to drop a row or column with only 1 or 2 'NaN' value rather than droping it all, 
# you can set a threshold there

# let's do it on rows first(default axis)

df.dropna(thresh=2)
# here we're droping those rows which don't have minimum 2 values different than 'NaN'

,A,B,C
0,1.0,5.0,1
1,2.0,NaN,2

In [7]:
# let's do it on the columns
df.dropna(axis=1 ,thresh=2)

,A,C
0,1.0,1
1,2.0,2
2,NaN,3

In [8]:
# now let's fill the 'NaN' with a string called "FILLED VALUE"
df.fillna(value= 'FILLED VAUE')

,A,B,C
0,1.0,5.0,1
1,2.0,FILLED VAUE,2
2,FILLED VAUE,FILLED VAUE,3

In [11]:
# let's replace those 'NaN' in those columns with the value of the mean of the same columns
# 1st let's do it on the row A

df['A'].fillna(value=df['A'].mean())