# Pandas : Groupby

# Pandas - Groupby

In [1]:
import numpy as np
import pandas as pd

In [3]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

data

{'Company': ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
 'Person': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
 'Sales': [200, 120, 340, 124, 243, 350]}

In [5]:
df = pd.DataFrame(data)
df

,Company,Person,Sales
0,GOOG,Sam,200
1,GOOG,Charlie,120
2,MSFT,Amy,340
3,MSFT,Vanessa,124
4,FB,Carl,243
5,FB,Sarah,350

In [9]:
# let's see the location of 'Company' column's location in our memory
# and make it a variable to work on it later

df.groupby('Company')
byComp = df.groupby('Company')
byComp

In [12]:
# let's get the mean value of total sale by these companies 
byComp.mean()
# the reason it's not applicable for the 'Person' row because it's a row of string value

,Sales
Company,
FB,296.5
GOOG,160.0
MSFT,232.0

In [14]:
# same like getiing the mean value, we can get sum , standard deviation etcetera
byComp.sum()

,Sales
Company,
FB,593
GOOG,320
MSFT,464

In [15]:
# standard deviation
byComp.std()

,Sales
Company,
FB,75.660426
GOOG,56.568542
MSFT,152.735065

In [18]:
# we can even do operations on this

byComp.sum().loc['FB']

In [19]:
# but as we said earlier , we will try to do it all in a single step, just like a pro
df.groupby('Company').sum().loc["GOOG"]

In [21]:
# we can alos use '.count' to count how many rows an index have
df.groupby('Company').count()

,Person,Sales
Company,,
FB,2,2
GOOG,2,2
MSFT,2,2

In [22]:
# we can also do 'max' and 'min'
df.groupby('Company').max()

,Person,Sales
Company,,
FB,Sarah,350
GOOG,Sam,200
MSFT,Vanessa,340

In [23]:
df.groupby('Company').min()

,Person,Sales
Company,,
FB,Carl,243
GOOG,Charlie,120
MSFT,Amy,124

In [24]:
# to get a allover details , you can use the '.describe' method

df.groupby('Company').max()

In [29]:
# but if you don't like it this way, you can use '.transpose' method

# it's showing the dataframe where the company names are the columns

df.groupby('Company').describe().transpose()
# to get details on a specific company, just mention it, like below

"""df.groupby('Company').describe().transpose()['GOOG']"""